body {
    margin: 0;
}

h1,
p {
    margin: 0;
}

.main-container {
    background-color: red;
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.time {
    background-color: pink;
    position: absolute;
    width: 100%;
    height: 5px;
    z-index: 10;
    top: 0;
}

.next .time,
.previous .time {
    animation: decreaseTimeWidth 2s forwards;
}

@keyframes decreaseTimeWidth {
    0% {
        width: 100%;
    }

    100% {
        width: 0;
    }
}



.carousel-item {
    background-color: pink;
    width: 100%;
    height: 100%;
    position: absolute;

}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-item:nth-child(1) {
    z-index: 1;
}

.next .carousel-item:nth-child(1) {
    animation: showImage 2s forwards;
}

@keyframes showImage {
    0% {
        bottom: 8%;
        width: 160px;
        height: 200px;
        left: 50%;
        border-radius: 20px;
    }

    100% {
        bottom: 0%;
        width: 100%;
        height: 100%;
        left: 0;
        border-radius: 0px;
    }
}

.description {
    background-color: yellow;
    position: absolute;
    top: 20%;
    left: 10%;
    width: 50%;
}

.slider {
    background-color: green;
    position: absolute;
    z-index: 10;
    bottom: 8%;
    left: 50%;
    display: flex;
    gap: 30px;
    width: 50%;
}

.slider-item {
    background-color: blue;
    width: 160px;
    height: 200px;
    border-radius: 20px;
    flex-shrink: 0;
    overflow: hidden;
}



.slider-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.next .slider-item:nth-last-child(1) {

    animation: showSlider 2s forwards;
}

.next .slider {
    animation: moveRight 2s forwards;
}

@keyframes showSlider {
    0% {
        width: 0px;
    }

    100% {
        width: 160px;
    }
}

@keyframes moveRight {
    0% {
        transform: translateX(160px);
    }

    100% {
        transform: translateX(0);

    }
}



.previous .carousel-item:nth-child(2) {
    z-index: 2;
    animation: hideImage 2s forwards;
}

@keyframes hideImage {
    0% {
        width: 100%;
        height: 100%;
        left: 0;
        bottom: 0;
        border-radius: 0px;
        opacity: 1;
    }

    100% {
        width: 160px;
        height: 200px;
        left: 50%;
        bottom: 8%;
        border-radius: 20px;
        opacity: 0;
    }
}

.previous .slider-item:nth-child(1) {
    animation: showSlider 2s forwards;
}

@keyframes showSlider {
    0% {
        width: 0px;
    }

    100% {
        width: 160px;
    }
}



.arrow-container {
    position: absolute;
    z-index: 12;
    bottom: 20%;
    left: 30%;
    display: flex;
    gap: 10px;
}

.arrow-button {
    background-color: transparent;
    backdrop-filter: blur(20px);
    padding: 5px 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
}

.arrow-button:hover {
    background-color: white;
}

.arrow-button span {
    color: #ffffff;
    font-size: 20px;
    font-weight: bolder;
    transition: all 0.3s ease;
}



.arrow-button:hover span {
    color: #3a3b3c;
}

.next .arrow-button,
.previous .arrow-button {
    pointer-events: none;
}